header {
    text-align: center;
    font-size: 22px;
}

section {
    width: 620px;
    height: 340px;
    border: 1px solid rgb(88, 88, 88);
    margin: auto;
}

#tela {
    background-color: whitesmoke;
    width: 530px;
    height: 260px;
    margin-top: 10px;
    margin-left: 35px;
    border-radius: 5px;
    border: 10px solid rgb(179, 179, 179);
    border-bottom: 20px solid rgb(179, 179, 179);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    color: rgb(33, 93, 224);
    font-size: 18px;
}

h1 {
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    color: rgb(8, 65, 189);
}

h2 {
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', sans-serif;
    padding-right: 40px;
}

img {
    border-radius: 50%;
    margin-top: -70px;
    margin-left: 20px;
}

ul {
    border-radius: 5px;
    list-style: none;
    text-align: left;
    line-height: 2;
    margin-left: 210px;
    margin-top: 20px;
}

#pe {
    background-color: rgb(179, 179, 179);
    width: 140px;
    height: 20px;
    margin-left: 240px;
}

#base {
    background-color: rgb(179, 179, 179);
    width: 280px;
    height: 10px;
    margin-left: 170px;
}